CONFIG_AUDIO_STUDIO=y
CONFIG_GUI_BACKEND=n
CONFIG_BUILD_TESTS=y
CONFIG_DRIVER_INTERFACE_TESTS=y
CONFIG_SERVER_FRAMEWORK_TESTS=n
CONFIG_SERVER=y
CONFIG_RPC=n
CONFIG_CLI=n
CONFIG_FRAMEWORK_COMMON=y
CONFIG_DRIVERS_CORE=y
CONFIG_DRIVER_OS=y
CONFIG_DRIVER_OS_LINUX_HOST=y
CONFIG_DRIVER_SOCKET=y
CONFIG_DRIVER_SOCKET_LINUX_HOST=y
CONFIG_DRIVER_FILESYSTEM=y
CONFIG_DRIVER_FILESYSTEM_LINUX_HOST=y
CONFIG_DRIVER_PIPE=y
CONFIG_DRIVER_PIPE_LINUX_HOST=y
CONFIG_DRIVER_DYNLIB=y
CONFIG_DRIVER_DYNLIB_LINUX_HOST=y
CONFIG_DRIVER_TRANSPORT=y
CONFIG_DRIVER_TRANSPORT_LINUX_HOST=y
CONFIG_DRIVER_AUDIO=y
CONFIG_DRIVER_AUDIO_LINUX_HOST=y
CONFIG_DRIVER_CONTROL=y
CONFIG_DRIVER_CONTROL_LINUX_HOST=y
CONFIG_DRIVER_LOG=y
CONFIG_DRIVER_LOG_LINUX_HOST=y
CONFIG_DRIVER_DUMP=y
CONFIG_DRIVER_DUMP_LINUX_HOST=y
