menu "Transport Driver"

config DRIVER_TRANSPORT
  bool "Build transport driver interface"
  default n
  depends on DRIVERS_CORE

config DRIVER_TRANSPORT_LINUX_HOST
  bool "Build Linux host transport driver implementation"
  default n
  depends on DRIVER_TRANSPORT

config DRIVER_TRANSPORT_MACOS
  bool "Build macOS transport driver implementation"
  default n
  depends on DRIVER_TRANSPORT

endmenu
