[submodule "third_party/alsa-utils"]
	path = third_party/alsa-utils
	url = https://github.com/thesofproject/alsa-utils.git
	branch = master
[submodule "third_party/alsa-lib"]
	path = third_party/alsa-lib
	url = https://github.com/alsa-project/alsa-lib.git
	branch = master
