menu "Audio Studio"

config AUDIO_STUDIO
  bool "Audio Studio build"
  default y

choice TARGET_OS
  prompt "Target operating system"
  default TARGET_OS_LINUX

config TARGET_OS_LINUX
  bool "Linux"

config TARGET_OS_WINDOWS
  bool "Windows"

config TARGET_OS_MACOS
  bool "macOS"

endchoice

choice TOOLCHAIN
  prompt "Toolchain family"
  default TOOLCHAIN_GCC if TARGET_OS_LINUX
  default TOOLCHAIN_MINGW if TARGET_OS_WINDOWS
  default TOOLCHAIN_OSXCROSS if TARGET_OS_MACOS

config TOOLCHAIN_GCC
  bool "GCC"

config TOOLCHAIN_CLANG
  bool "Clang"

config TOOLCHAIN_MINGW
  bool "MinGW"

config TOOLCHAIN_MSVC
  bool "MSVC"

config TOOLCHAIN_OSXCROSS
  bool "osxcross Clang"

endchoice

config GUI_BACKEND
  bool "Build GUI backend"
  default y

config BUILD_TESTS
  bool "Build unit tests"
  default y

config SERVER
  bool "Build as_server"
  default n

config RPC
  bool "Build server RPC helpers"
  default n
  depends on SERVER && FRAMEWORK_COMMON

config CLI
  bool "Build CLI tools"
  default n
  depends on SERVER

config FRAMEWORK_COMMON
  bool "Build common framework library"
  default n

config FRAMEWORK_SESSION
  bool "Build session framework library"
  default n
  depends on FRAMEWORK_COMMON

config FRAMEWORK_CONTROL
  bool "Build control framework library"
  default n
  depends on FRAMEWORK_COMMON

config FRAMEWORK_AUDIO
  bool "Build audio framework library"
  default n
  depends on FRAMEWORK_COMMON

config FRAMEWORK_LOG
  bool "Build log framework library"
  default n
  depends on FRAMEWORK_COMMON

config FRAMEWORK_DUMP
  bool "Build dump framework library"
  default n
  depends on FRAMEWORK_COMMON

config FRAMEWORK_PLUGIN
  bool "Build plugin framework library"
  default n
  depends on FRAMEWORK_COMMON

config FRAMEWORK_TRANSPORT
  bool "Build transport framework library"
  default n
  depends on FRAMEWORK_COMMON

config DRIVERS_CORE
  bool "Build driver manager core"
  default n
  depends on SERVER && FRAMEWORK_COMMON

config DRIVER_OS
  bool "Build host-alone OS driver"
  default n
  depends on DRIVERS_CORE

config DRIVER_DUMMY
  bool "Build host-alone dummy driver"
  default n
  depends on SERVER

endmenu
