menu "Framework"

source "server/framework/common/Kconfig"
source "server/framework/session/Kconfig"
source "server/framework/control/Kconfig"
source "server/framework/audio/Kconfig"
source "server/framework/config/Kconfig"
source "server/framework/log/Kconfig"
source "server/framework/dump/Kconfig"
source "server/framework/plugin/Kconfig"
source "server/framework/transport/Kconfig"

endmenu
