menu "Audio Driver"

config DRIVER_AUDIO
  bool "Build audio driver interface"
  default n
  depends on DRIVERS_CORE

config DRIVER_AUDIO_ALSA
  bool "Build ALSA audio driver implementation"
  default n
  depends on DRIVER_AUDIO

config DRIVER_AUDIO_PULSE
  bool "Build PulseAudio audio driver implementation"
  default n
  depends on DRIVER_AUDIO

config DRIVER_AUDIO_WASAPI
  bool "Build Windows WASAPI audio driver implementation"
  default n
  depends on DRIVER_AUDIO

config DRIVER_AUDIO_MACOS
  bool "Build macOS audio driver implementation"
  default n
  depends on DRIVER_AUDIO

endmenu
