# Audio Studio simulator Linux defconfig
CONFIG_AUDIO_STUDIO_PLATFORM_SIMULATOR=y
CONFIG_AUDIO_STUDIO_TARGET_OS="linux"
CONFIG_AUDIO_STUDIO_BUILD_GUI_BACKEND=y
CONFIG_AUDIO_STUDIO_BUILD_SERVER=y
CONFIG_AUDIO_STUDIO_BUILD_CLI=y
CONFIG_AUDIO_STUDIO_BUILD_AUDIO_CONTROLLER=y
