config PLATFORM_SIMULATOR
  bool "Build simulator platform implementation"
  default y if TARGET_PLATFORM_SIMULATOR && PLATFORM_CORE
  depends on TARGET_PLATFORM_SIMULATOR && PLATFORM_CORE
  depends on DRIVER_TRANSPORT && DRIVER_LOG && FRAMEWORK_TRANSPORT
