menu "Drivers"

config DRIVERS_CORE
  bool "Build driver manager core"
  default n
  depends on SERVER && FRAMEWORK_COMMON

source "server/drivers/os/Kconfig"
source "server/drivers/socket/Kconfig"
source "server/drivers/filesystem/Kconfig"
source "server/drivers/pipe/Kconfig"
source "server/drivers/dynlib/Kconfig"
source "server/drivers/transport/Kconfig"
source "server/drivers/audio/Kconfig"
source "server/drivers/control/Kconfig"
source "server/drivers/log/Kconfig"
source "server/drivers/dump/Kconfig"
source "server/drivers/dummy/Kconfig"

endmenu
