# Audio Studio M0 A2 Linux profile
CONFIG_AUDIO_STUDIO_PLATFORM_A2=y
CONFIG_AUDIO_STUDIO_BUILD_GUI_BACKEND=y
CONFIG_AUDIO_STUDIO_BUILD_SERVER=y
CONFIG_AUDIO_STUDIO_BUILD_CLI=y
CONFIG_AUDIO_STUDIO_BUILD_AUDIO_CONTROLLER=y
