CONFIG_AUDIO_STUDIO=y
CONFIG_TARGET_OS_LINUX=y
CONFIG_TOOLCHAIN_GCC=y
CONFIG_GUI_BACKEND=y
CONFIG_BUILD_TESTS=y
CONFIG_SERVER=y
CONFIG_RPC=y
CONFIG_CLI=y
CONFIG_FRAMEWORK_COMMON=y
CONFIG_FRAMEWORK_SESSION=y
CONFIG_FRAMEWORK_CONTROL=y
CONFIG_FRAMEWORK_AUDIO=y
CONFIG_FRAMEWORK_LOG=y
CONFIG_FRAMEWORK_DUMP=y
CONFIG_FRAMEWORK_PLUGIN=y
CONFIG_FRAMEWORK_TRANSPORT=y
CONFIG_DRIVERS_CORE=y
CONFIG_DRIVER_OS=y
CONFIG_DRIVER_DUMMY=y
