menu "Platform"

choice TARGET_PLATFORM
  prompt "Audio target chip/platform profile"
  default TARGET_PLATFORM_A2

config TARGET_PLATFORM_A2
  bool "A2"

config TARGET_PLATFORM_SIMULATOR
  bool "Simulator"

endchoice

source "server/platform/core/Kconfig"
source "server/platform/a2/Kconfig"
source "server/platform/simulator/Kconfig"

endmenu
